.block {
    background-color: whitesmoke;
    color: black;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Permanent Marker;
    margin-bottom: 10px;
  }

  .button:hover {
    background-color: rgb(228, 25, 10); /* Green */
    color: white;
  }